#result {
  display: none;
}

body {
  font-family: helvetica;
}

.container {
  text-align: center;
  margin-top: 40px;
}

.jumbotron h1 {
  color: tomato;
  margin-bottom: 40px;
}
.jumbotron{
  background-image: url("../img/pig.jpg");
}

.form-group {
  font-size: 18px;
}

button {
  margin-top: 20px;
}

p {
  margin-top: 20px;
  font-size: 18px;
}
p#result {
  color: white;
}
